{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login (Franco Piunno)</title>
    <link rel="stylesheet" type="text/css" href="{% static 'asist_profe_view/login.css' %}">
</head>
<body>
    <!--Elementos-->
    <div class="fondo">
    </div>

    <div class="logo">
        <img src="{% static 'asist_profe_view/images/TSDSlogowhite.png' %}" width="85px" height="112px" alt="">
    </div>

    <div class="redes">
        <div class="facebook">
            <a href="https://www.facebook.com/croquegonzalez"><img src="{% static 'asist_profe_view/images/174848.png' %}" width="32px" height="32px" alt="linkfacebook"></a>
        </div>
        <div class="ig">
            <a href="https://www.instagram.com/croquegonzalez/"><img src="{% static 'asist_profe_view/images/87390.png' %}" width="32px" height="32px" alt="linkinsta"></a>
        </div>
        <div class="youtube">
            <a href="https://www.youtube.com/user/croquegonzalez"><img src="{% static 'asist_profe_view/images/174857 (2).png' %}" width="32px" height="32px" alt="linkyt"></a>
        </div>
        <h1>© 2022 INSTITUTO SUPERIOR ROQUE GONZALEZ </h1>
            <style>
                @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300&display=swap');
            </style>
        </div>
    </div>

    <!--Login-->
    <div class="login">
        <div class="loginbox">
            <form>
                <div class="inputgroupname">
                    <input type="text" name="" placeholder="Username">
                </div>    
                <div class="inputgrouppassword">
                    <input type="password" name="" placeholder="Password" id="myInput">
                    <span class="eye" onclick="ShowPassword()">
                        <div class='codicon codicon-add'></div>
                        <i id="hide1" class="fa fa-eye"><img src="{% static 'asist_profe_view/images/eye.svg' %}" alt="eyeopen" width="32px" height="32px"></i>
                        <i id="hide2" class="fa fa-eye-closed"><img src="{% static 'asist_profe_view/images/eye-closed.svg' %}" alt="eyeopen" width="32px" height="32px"></i>

                        <script>
                            function ShowPassword() {
                                var x = document.getElementById ("myInput")
                                var y = document.getElementById ("hide2")
                                var z = document.getElementById ("hide1")

                                if (x.type === 'password'){
                                    x.type = "text"
                                    y.style.display = "block"
                                    z.style.display = "none"
                                }
                                else {
                                    x.type = "password"
                                    y.style.display = "none"
                                    z.style.display = "block"
                                }

                            }

                        </script>
                    </span>
                        <button>
                        <a href="{% url 'login' %}">Log In</a>
                        </button>
                    <div class="switchcontainer">
                        <input type="checkbox" id="switch">
                        <label for="switch" class="lbl"></label>
                    </div>
                    <h1>Remember me</h1>
                </div>
            </form>  
        </div>
        <div class="changelogin">
            <h1>New user?</h1>
            <a href="{% url 'signup' %}"><h2>Create an account</h2></a>
        </div>
    </div>

</html>