{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matematica</title>
    <link rel="stylesheet" type="text/css" href="{% static 'asist_profe_view/matematica.css' %}">
</head>
<body>
    <div class="rect"></div>
    <div class="avisos"><h1>Avisos</h1></div>
    <div class="tareas">
    <ul>
        {% for alumno in materia.materia_alumno_set.all %}
        <li>{{alumno.nombre}} <input type=checkbox></input></li>
        {% endfor %}
    </ul> 
    <button>Tomar asistencia</button>
    </div>
    <div class="examen"><h1>No hay examenes programados</h1></div>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300&display=swap');
    </style>

    <div class="menu">
        <div class="menu_izq">
            <div class="menusel"></div>
            <div class="Materias">
                <div class="MateriasIcon"><img src="{% static 'asist_profe_view/images/categories.png' %}" width="23px" height="23px" alt=""></div>
                <h1>Materias</h1>
            </div>
            <div class="Calendario">
                <div class="CalendarioIcon"><img src="{% static 'asist_profe_view/images/calendar.png' %}" width="21px" height="21px" alt=""></div>
                <h1>Calendario</h1>
            </div>
            <div class="Ajustes">
                <div class="AjustesIcon"><img src="{% static 'asist_profe_view/images/gear.png' %}" width="21px" height="21px" alt=""></div>
                <h1>Ajustes</h1>
            </div>
            <div class="logo">
                <a href="home.html"><img src="{% static 'asist_profe_view/images/TSDSlogowhite.png' %}" width="85px" height="112px" alt=""></a>
            </div>
        </div>
        <div class="menu_sup">
            <div class="search">
                <input type="text" name="" placeholder="Buscar">
                <button type="submit"><img src="{% static 'asist_profe_view/images/search.png' %}" alt="" width="24px" height="24px"></button>
            </div>
            <div class="nav">
                <a href="{% url 'login' %}"><h1>Home</h1></a>
                <h2>{{materia.nombre}}</h2>
            </div>
            <div class="User">
                <div class="Mensaje"><img src="{% static 'asist_profe_view/images/mail.png' %}" width="39px" height="39px" alt=""></div>
                <div class="Notificacion"><img src="{% static 'asist_profe_view/images/notification.png' %}" width="34px" height="39px" alt=""></div>
                <div class="Userphoto"></div>
            </div>
        </div>

    </div>



    
</body>
</html>